@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Lauras Stern</h1>
    <img src="https://nomad-prod-open.skoobenet.de/open/cover/6bHBkvnCY4KtV6c7WSazhX?size=280x410&type=image" alt="Cover" width="280" height="410">

</div>
