@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lauras Stern</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tWIFOe9uIU4?si=SGx-8AuPW9rol3Hj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6A6M1bLPGTk6e64_Hz6kp1QkxqkKGROvi7A&s"/>
</div>
